.main{
    background: linear-gradient(black,grey);
}
.head{
    padding: 10px 20px ;
    background: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.editor{
    border:  1px solid white;
    padding: 10px 20px;
    color: white;
}
.save{
    display: flex;
    justify-content: center;
    padding: 20px;
    
}
.save-btn{
    padding: 10px 15px;
    border-radius: 30px;
    border: none;
}